<a href="/celebrities">Home</a>


<h2>Details</h2>

{{#with celebDetails}}
<h3>{{name}}</h3>
<p>Occupation: {{occupation}}</p>
<p>Quote: "{{catchPhrase}}"</p>
<a href="/celebrities/{{_id}}/edit">Edit celebrity</a>
{{/with}}