<a href="/celebrities">Home</a>

<h2>Add celebrities:</h2>

<form action="/celebrities" method="POST">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="occupation" placeholder="occupation">
  <input type="text" name="catchPhrase" placeholder="quote">
  <button>Add celeb</button>
</form>